/*General Styling*/

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	-webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: navy;
}

a {
	font-style: none;
}

p {
	text-align: center;
}


/*Jeopardy Board*/

table {
	float: right;
	right: 10px;
	margin: 30px auto;
	height: 450px;
	width: 80%;
	border: 2px solid black;
	background-color: whitesmoke;
	border-radius: 5px;
}

td {
	cursor: pointer;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	font-size: 1.3em;
}

/*
button {
	font-size: 1.2em;
	background: -webkit-linear-gradient(top, dodgerblue, #04f);
	border: none;
	
}

button:hover {
	background-color: #05e;
}
*/

.amount {
	background-color: dodgerblue;
	font: bold 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.amount td {
	background: -webkit-linear-gradient(top, dodgerblue, #04f);
    background: -moz-linear-gradient(top, dodgerblue, #0000ff);
    background: -o-linear-gradient(top, dodgerblue, #0000ff);
    background: -ms-linear-gradient(top, dodgerblue, #0000ff);
    background: linear-gradient(top, dodgerblue, #0000ff);
     
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
     
/*
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
*/
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}

.amount td:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #05e, #05e);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#category td {
	font: bold 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: white;
	cursor: auto;
}

footer a {
	position: absolute;
	left: 550px;
	margin: 20px auto;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: black;
	bottom: 20px;
}

footer a:hover {
	text-decoration: underline;
}


	#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 12;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: dodgerblue; font-size:25px; padding:10px; color:white; }
#dialogbox > div > #dialogboxbody{ background: white; line-height: 1.2em; font-size: 28px; padding:30px; color: black; }
#dialogbox > div > #dialogboxfoot{ background: white; padding:10px; text-align:right; }




/*Home Page styling*/

h1 {
	color: dodgerblue;
/*
   text-shadow:
       3px 3px 0 #000,
     -2px -2px 0 navy,  
      2px -2px 0 navy,
      -2px 2px 0 navy,
       2px 2px 0 navy;
*/
	border-bottom: 2px solid black;
	padding-bottom: 30px;
	margin-top: none;
}

h3 {
	text-align: center;
	font-style: italic;
	line-height: 1.2em;
}

#verse {
	font-style: normal;
	font-size: 14px;
}

.startButton {
	display: block;
	width: 200px;
	text-align: center;
	font-size: 2em;
	padding: 15px;
	margin: 30px auto;
	color: aliceblue;
	text-decoration: none;
	
	background: -webkit-linear-gradient(top, dodgerblue, #04f);
    background: -moz-linear-gradient(top, dodgerblue, #04f);
    background: -o-linear-gradient(top, dodgerblue, #04f);
    background: -ms-linear-gradient(top, dodgerblue, #04f);
    background: linear-gradient(top, dodgerblue, #04f);
     
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
     
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}

.startButton:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #05e, #05e);
    background: -moz-linear-gradient(top, #05e, #05e);
    background: -o-linear-gradient(top, #05e, #05e);
    background: -ms-linear-gradient(top, #05e, #05e);
    background: linear-gradient(top, #05e, #05e);
}


.startButton:first-child {
	margin-top: 50px;
}

.asked{
	visibility:hidden;}
/*.asked*/.just{
	visibility:visible;
	background:gray !important;
	opacity: 0.2;}


/*ChooseTeams page styling*/

#chooseTeams{
	text-align: center;
}

#chooseTeams label{
	font-size: 20px;
	margin-left: 20px;
}

input[type='text']{
	height: 20px;
	font-size: 14px;
}

.row:first-child {
	margin-top: 40px;
}
.row {
	display: block;
	margin: 20px;
}
	
#choosePlayers {
	margin: 20px auto;
	text-align: center;
}

#choosePlayers input[type='radio']{
	margin: 7px;
}

#choosePlayers label{
	margin-left: 30px;
}




.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
}

.reveal-if-active input[type="radio"]:checked {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
}



/*styling team names and score counter*/

aside {
	margin-top: 32px;
	float: left;
	width: 150px;
}
.teamName {
	background: 

	display: block;
	width: 200px;
	text-align: center;
	font-size: 2em;
	padding: 15px;
	margin: 20px auto;
	color: aliceblue;
	text-decoration: none;
	
	background: -webkit-linear-gradient(top, dodgerblue, #04f);
    background: -moz-linear-gradient(top, dodgerblue, #04f);
    background: -o-linear-gradient(top, dodgerblue, #04f);
    background: -ms-linear-gradient(top, dodgerblue, #04f);
    background: linear-gradient(top, dodgerblue, #04f);
     
	border-radius: 5px;
     
    -webkit-box-shadow: 2 4px 0 #1b383b;
    -moz-box-shadow: 2 4px 0 #1b383b;
    box-shadow: 2 4px 0 #1b383b;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}

select {
    border:0;
		text-align: center;
		margin-left: 25px;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:150px;
    -webkit-appearance: none;
}

select option{
	font-size: 20px;
}